body{
    background-color: #484747;
    color: white;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-style: oblique;
}

#expression{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}

#expression-result{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}

.parent-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 0.08fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem 0.5rem;
    background-color: #4c4c4b;
    padding: 1rem;
    border: 0.2rem outset;
    border-color: greenyellow;
    border-radius: 1rem;
}

.btn-calculator{
    color: white;
    border: none;
    border-radius: 70%;
    font-size: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 2.5rem;
}

.btn-orange{
    background-color: #fda00a;
}

.btn-orange:hover{
    background-color: #f7b955;
    border: 0.2rem solid;
    border-color: #333333;
}

.btn-orange:active{
    background-color: #ce8002;
}

.btn-black{
    background-color: #333333;
}

.btn-black:hover{
    background-color: #727272;
    border: 0.2rem solid;
    border-color: #ce8002;
}

.btn-black:active{
    background-color: #2b2b2b;
}